*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Source Sans Pro', Tahoma, Helvetica, Verdana, sans-serif;
    background: #2c2c2c url('bg.png') repeat;
    color: white;
    font-size: 1.3rem;
    font-weight: 100;
}

h1{
    color: white;
    font-size: 10vh;
    font-weight: 100;
}

p{
    margin: 2rem
}
.video-container {
    background: #2c2c2c url('bg.png') repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -100;
}

.bg-video {
width: 100%;
height: 100%;
opacity: .1;
}

    /* content: "\2261"; */

.nav-menu{
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.nav-menu ul{
    list-style-type: none;
}

.nav-menu li{
    display: inline-block;
    margin: .25rem;
}

.a-menu{
        color: white;
        display: block;
        padding: .5rem 1rem;
        text-decoration: none;
        outline: none;
        border-bottom: .25rem solid white;
        transition: .5s;
    }

.a-menu:hover{
    border-bottom-color: red;
}


.toggle-menu, .close-menu{
    display: none;
    position: fixed;
    text-decoration: none;
    color: white;
    background-color: black;
    opacity: .8;
    border-radius: .5rem;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
}

.back-up{
    width: 3rem;
    height: 3rem;
    background-color: lightgray;
    font-size: 2rem;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 900;
    transition: .25s;
}

.back-up a{
    color:black;
    text-decoration: none;
    display: block;
    outline: none;
}

.back-up:hover{
    box-shadow: 0 0 4px 10px #00000050;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-bg h1{
    margin-top: 6rem;
}

.parallax1, .parallax2, .parallax3, .parallax4 {
    background: #2c2c2c url() no-repeat fixed center;
    background-size: cover;
}

.parallax1{background-image: url('fan.jpg');}
.parallax2{background-image: url('girl.jpg');}
.parallax3{background-image: url('log.jpg');clip-path: polygon(0% 20%, 100% 0, 100% 80%, 0% 100%);}
.parallax4{background-image: url('cabains.jpg');}

.letterpress{
    color: grey;
    text-shadow: 1px 1px 2px black;
}

.letterpress2{
    color: #1a1a1a;
    text-shadow: 1px 1px 0px #444;
}

.gallery{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: flex-start;
    max-height: 100vh;
    margin: 0 auto;
}

.gallery figure{
    background-color: lightyellow;
    padding: .25rem;
    max-width: 15%;
    margin: .5rem;
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
}

.gallery img{
    max-width: 100%;
    height: auto;
}

.gallery figcaption{
    color: black;
    text-align: center;

}

.gallery a{
    color: black;
    text-decoration: underline dotted;
    display: block;
}

.gallery img:hover{
    transform: scale(2.5);
    transition: .3s;
}

pre code{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem auto;
    background-color: #1E90FF50;
    color: white;
    border-radius: .25rem;
    display: block;
    /* white-space: pre-wrap; */
    /* word-wrap: break-word; */
    min-width: 50vw;
    max-width: 90vw;
    overflow-x: auto;
}

@media (min-aspect-ratio: 16/9) {
.bg-video {
width: 100%;
height: auto;

}
}

@media (max-aspect-ratio: 16/9) {
.bg-video {
width: auto;
height: 100%;
}



}

@media (max-width: 800px){

html{
    font-size: .8rem;
}    

h1{
    font-size: 3rem;
}

.toggle-menu{
    display: flex;
}

.nav-menu{
    position: fixed;
    display: initial;
    background: black;
    opacity: .8;
    width: calc(100% - 5rem);
    left: -100%;
    height: 100%;
    z-index: 100;
    transition: .5s;
}

.nav-menu li{
    display: block;
    width: 100%;
}

.nav-menu a{
    border-bottom: none;
    font-weight: bold;
}

.nav-menu a:hover:not(.toggle-menu):not(.close-menu){
    color: red;
}

.toggle-menu, .close-menu{
    right: .75rem;
    top: .75rem;
    outline: none;
}

.nav-menu:target{
    left: 0;
}

.nav-menu:target .toggle-menu{
    display: none;
}

.nav-menu:target .close-menu{
    display: flex;
    color: red;
}

.nav-menu:target .close-menu::after{
    content: "";
    position: fixed;
    width: 5rem;
    right: 0;
    top: 0;
    bottom: 0;
}


.gallery{
    /* justify-content: flex-start; */
    align-items: flex-start;
    max-height: 110vh;
}

.gallery figure{
    max-width: 30%;
    padding: .15rem;
    margin: .3rem;
    font-size: .8rem;
}


}   

@media screen and (max-width: 800px) and (orientation: landscape){
.gallery {
    max-height: 370vh;
}

.gallery figure{
    max-width: 30%;
}


}
